.mouse-memoirs-regular {
    font-family: "Mouse Memoirs", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.b612-regular {
    font-family: "B612", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .b612-bold {
    font-family: "B612", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .b612-regular-italic {
    font-family: "B612", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .b612-bold-italic {
    font-family: "B612", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  

body{
    background-image: url(background.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#3d3d3d;
}

.bg-primary{
background-color: #3d3d3d !important;
}

.navbar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.nav-item{
    font-family:"Mouse Memoirs";
    font-size: x-large;
    padding: 2px;
}

.nav-item:hover{
    background-color: #292929;
    border-radius: 5px;
    color: #FFACE4;
}

h1{
    margin-top: 20px;
    text-align: center;
    font-family: "Mouse Memoirs";
    color: white;
}


h2, h3{
   margin-top: 20px;
    font-family: "Mouse Memoirs";
    color: white; 
}


p{
font-family: "B612";
font-size: medium;
text-align: justify;
color: white;
}

.container-xxl{
    background-color: #3d3d3d;
    border-radius: 25px;
    margin-bottom: 40px;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.575);
}



.carousel-inner{
padding-top: 40px;
padding-bottom: 40px;
}


.carousel-text{
    color: black;
}

h5{
    font-family: "Mouse Memoirs"; 
}

footer{
background-color:#3d3d3d; 
padding-top: 5px; 
}

.footer-link{
    padding-left: 30px;
    color: white;
    font-family: "Mouse Memoirs";
    font-size: x-large;
}

.card{
    margin-left: 70px;
    margin-bottom: 20px;
    border: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.575);
}


.footer-link:hover{
    color: #FFACE4;
}

.card-header{
    background-color: #FFACE4;
    font-family: "Mouse Memoirs";
    color:#AE2983;
    font-size: xx-large;
}

.bg-warning{
    background-color: white !important;
    font-family: "B612" !important;
}

.bg-warning:hover{
    background-color:#ffdff5 !important;
    color: #AE2983 !important;
}

.p-card{
font-size: large;
color: black;
font-family: "B612";
margin-bottom: 0%;
}

.p-card:hover{
color:#AE2983;
}

.card-link{
text-decoration: none;
color: black;
}

.card-link:hover{
font-weight: bolder;
color:#AE2983;
}


.card-post-title{
    font-size: x-large;
    font-weight: bold;
}


.ind-post-card{
    padding: 0%;
    margin-left: 50px;
    margin-top: 80px;
    background-color: #2B2B2B;
    color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.575);
}

.ind-post-card:hover{
    background-color: #FFACE4;
    transition: 0.3s;
    color:#AE2983;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.700);
}

.post-link{
    text-decoration: none;
}

.card-body{
    padding-bottom: 3px;
}

.card-img-top{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.text-small{
    font-family: "Mouse Memoirs";
    font-size: large;
}


.card-title{
    font-size: xx-large;
}

.end-tag{
    opacity: 80%;
}


.banners{
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.banner{
    background-color: #FFD3F1;
    color: #AE2983;
}

.scrollspy{
    padding-top: 20px;
    padding-left: 20px;
    border-color: transparent;
    border-radius: 30px;
}

.bg-danger{
background-color: #FFACE4 !important;
color:#AE2983;
font-family: "Mouse Memoirs";
font-size: x-large;
}

.bg-danger:hover{
text-decoration: underline !important;
background-color: #fb8dd6 !important;
color:#AE2983 !important ;
transition: 0.3s !important;
}

.scrollspy-example{
    margin-left: 50px;
    margin-top: 30px;
    font-family: "Mouse Memoirs";
    color: white;
}

.scrollspy-head{
    font-size:xx-large;
}

.about-header{
    text-align: left;
    font-size:350%;
    margin-left: 30px;
    margin-top: 20px;
}

.breadcrumb-item{
    color: white !important;
    margin-top: 30px;
    padding-left: 30px;
    }

.breadcrumb-item>a{
    color: #fb8dd6;
    text-decoration: none;
}

.breadcrumb-item>a:hover{
    text-decoration: underline;
}

.post-title{
    text-align: left;
    margin-left: 30px;
}

.tag{
    margin-left: 25px;
    width: 75px;
    height: 35px;
    margin-top: 20px;
}

.post-image{
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 20px;
}

.break-photo{
    margin-bottom: 30px;
    margin-left: 50px;
}

.post-text{
padding-left: 25px;
padding-right: 25px;
text-align: justify;
}

.where-header{
    font-family: "Mouse Memoirs";
    font-size: xx-large;
    background-color:#FFACE4;
    color: #AE2983;
}

.where-to-watch-listen{
    margin-left: 40px;
    width: 700px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.rating{
    font-family: "Mouse Memoirs";
    text-align: start;
margin-top: 0px;
}

.rating-2{
    font-size: xx-large;
}

.menu-link{
    font-family: "B612";
    color: black;
    text-decoration: none;
}

.menu-link:hover{
    color: #AE2983;
    text-decoration: underline;
}

.icon{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}