 th{
            padding: 2px 4px;
            border: 2px solid #619200;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            background-color: #bfff3e;
        }

        tr{
        align-self: center;
        }
